* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9fadc;
    padding: 0.3rem;
    padding-top: 60px;
}

header {
    width: 100%;
    background-color: #d4ceaa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    z-index: 1000;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.3rem;
}


#inicio {
    height: 85vh;
    padding: 1rem;
    padding-top: 5rem;
}

#inicio span {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}

#inicio span img{
    width: 50%;
    border-radius: 50px;
}

h2 {
    text-align: center;
}

#fotos {
    height: 55vh;
    padding: 1rem;
    padding-top: 5rem;
    background-color: #8fa691;
    border-radius: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px red;
}

#fotos img{
    width: 70%;
    border-radius: 1rem;
}

#contato {
    height: 55vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato button{
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 0.4rem;
    background-color: #d4ceaa;
    font-weight: bold;
    font-size: 0.9rem;
}

footer {
    width: 100%;
    background-color: #d4ceaa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    align-items: center;
}

#redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#redes-sociais img{
    width: 15%;
    border-radius: 50%;
    margin: 0 auto;
}




.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .slide img {
    width: 100%;
    border-radius: 0.1rem;
  }

  .caption {
    margin-top: 10px;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .prev { left: 10px; }
  .next { right: 10px; }