* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    padding: 0.3rem;
    padding-top: 60px;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    height: 60px;
    top: 0;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
}


#inicio {
    height: 55vh;
    padding: 1rem;
    padding-top: 4.1rem;
}

#inicio span {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}

#inicio span img{
    width: 50%;
    border-radius: 50px;
}

h2 {
    text-align: center;
}

#fotos {
    height: 55vh;
    padding: 1rem;
    padding-top: 4.1rem;
}

#contato {
    height: 55vh;
    padding: 1rem;
    padding-top: 4.1rem;
}

footer {
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}